@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(98.16% 0.0091 78.28);
  --foreground: oklch(37.61% 0.0192 65.3);
  --card: oklch(98.05% 0.0114 67.69);
  --card-foreground: oklch(37.61% 0.0192 65.3);
  --popover: oklch(96.17% 0.038 83.03);
  --popover-foreground: oklch(37.61% 0.0192 65.3);
  --primary: oklch(70.15% 0.1686 28.5);
  --primary-foreground: oklch(100% 0 89.87);
  --secondary: oklch(80.75% 0.1506 71.18);
  --secondary-foreground: oklch(37.61% 0.0192 65.3);
  --muted: oklch(94.44% 0.0281 61.79);
  --muted-foreground: oklch(56.51% 0.0486 58.98);
  --accent: oklch(92.66% 0.0435 83.01);
  --accent-foreground: oklch(47.66% 0.05 58.6);
  --destructive: oklch(57.01% 0.1989 26.25);
  --destructive-foreground: oklch(100% 0 89.87);
  --border: oklch(89.81% 0.062 66.9);
  --input: oklch(89.81% 0.062 66.9);
  --ring: oklch(70.15% 0.1686 28.5);
  --radius: 0.5rem;
  --chart-1: oklch(70.15% 0.1686 28.5);
  --chart-2: oklch(80.75% 0.1506 71.18);
  --chart-3: oklch(70.83% 0.1814 37.41);
  --chart-4: oklch(89.19% 0.1502 92);
  --chart-5: oklch(58.53% 0.1876 35.99);
  --sidebar-background: oklch(97.05% 0.0198 74.82);
  --sidebar-foreground: oklch(37.61% 0.0192 65.3);
  --sidebar-primary: oklch(70.15% 0.1686 28.5);
  --sidebar-primary-foreground: oklch(100% 0 89.87);
  --sidebar-accent: oklch(80.75% 0.1506 71.18);
  --sidebar-accent-foreground: oklch(37.61% 0.0192 65.3);
  --sidebar-border: oklch(87.39% 0.0784 66.5);
  --sidebar-ring: oklch(70.15% 0.1686 28.5);
}

.dark {
  --background: oklch(24.05% 0.0103 65.42);
  --foreground: oklch(98.16% 0.0091 78.28);
  --card: oklch(28.39% 0.0132 65.37);
  --card-foreground: oklch(98.16% 0.0091 78.28);
  --popover: oklch(28.39% 0.0132 65.37);
  --popover-foreground: oklch(98.16% 0.0091 78.28);
  --primary: oklch(70.15% 0.1686 28.5);
  --primary-foreground: oklch(100% 0 89.87);
  --secondary: oklch(34.87% 0.0245 64.98);
  --secondary-foreground: oklch(80.75% 0.1506 71.18);
  --muted: oklch(32.61% 0.017 65.28);
  --muted-foreground: oklch(77.87% 0.0413 67.16);
  --accent: oklch(34.87% 0.0245 64.98);
  --accent-foreground: oklch(98.16% 0.0091 78.28);
  --destructive: oklch(57.01% 0.1989 26.25);
  --destructive-foreground: oklch(100% 0 89.87);
  --border: oklch(37.66% 0.0205 65.24);
  --input: oklch(37.66% 0.0205 65.24);
  --ring: oklch(70.15% 0.1686 28.5);
  --radius: 0.5rem;
  --chart-1: oklch(70.15% 0.1686 28.5);
  --chart-2: oklch(80.75% 0.1506 71.18);
  --chart-3: oklch(70.83% 0.1814 37.41);
  --chart-4: oklch(89.19% 0.1502 92);
  --chart-5: oklch(58.53% 0.1876 35.99);
  --sidebar-background: oklch(27.32% 0.0125 65.38);
  --sidebar-foreground: oklch(98.16% 0.0091 78.28);
  --sidebar-primary: oklch(70.15% 0.1686 28.5);
  --sidebar-primary-foreground: oklch(100% 0 89.87);
  --sidebar-accent: oklch(34.87% 0.0245 64.98);
  --sidebar-accent-foreground: oklch(98.16% 0.0091 78.28);
  --sidebar-border: oklch(34.65% 0.0184 65.26);
  --sidebar-ring: oklch(70.15% 0.1686 28.5);
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  html {
    @apply font-sans;
  }
}
